{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_2a80b20c-adc3-4f4c-be3a-ecb3aec8609c = section.settings['replo_text_2a80b20c-adc3-4f4c-be3a-ecb3aec8609c'] -%}
    {%- capture default_replo_text_2a80b20c-adc3-4f4c-be3a-ecb3aec8609c -%}<p>How it’s made</p>{%- endcapture -%}
    {%- assign replo_text_2a80b20c-adc3-4f4c-be3a-ecb3aec8609c = replo_text_2a80b20c-adc3-4f4c-be3a-ecb3aec8609c | default: default_replo_text_2a80b20c-adc3-4f4c-be3a-ecb3aec8609c -%}
    "replo_text_2a80b20c-adc3-4f4c-be3a-ecb3aec8609c": {{ replo_text_2a80b20c-adc3-4f4c-be3a-ecb3aec8609c | json }}, {%- assign replo_text_6884f9a2-71fb-4c78-b368-9bb325e7d2e0 = section.settings['replo_text_6884f9a2-71fb-4c78-b368-9bb325e7d2e0'] -%}
    {%- capture default_replo_text_6884f9a2-71fb-4c78-b368-9bb325e7d2e0 -%}<p>Traditional natural processing</p>{%- endcapture -%}
    {%- assign replo_text_6884f9a2-71fb-4c78-b368-9bb325e7d2e0 = replo_text_6884f9a2-71fb-4c78-b368-9bb325e7d2e0 | default: default_replo_text_6884f9a2-71fb-4c78-b368-9bb325e7d2e0 -%}
    "replo_text_6884f9a2-71fb-4c78-b368-9bb325e7d2e0": {{ replo_text_6884f9a2-71fb-4c78-b368-9bb325e7d2e0 | json }}, {%- assign replo_text_fd13e8c6-cd3f-4b1b-90ed-bb4bb7724c04 = section.settings['replo_text_fd13e8c6-cd3f-4b1b-90ed-bb4bb7724c04'] -%}
    {%- capture default_replo_text_fd13e8c6-cd3f-4b1b-90ed-bb4bb7724c04 -%}<p>1,200 – 1,600 meters</p>{%- endcapture -%}
    {%- assign replo_text_fd13e8c6-cd3f-4b1b-90ed-bb4bb7724c04 = replo_text_fd13e8c6-cd3f-4b1b-90ed-bb4bb7724c04 | default: default_replo_text_fd13e8c6-cd3f-4b1b-90ed-bb4bb7724c04 -%}
    "replo_text_fd13e8c6-cd3f-4b1b-90ed-bb4bb7724c04": {{ replo_text_fd13e8c6-cd3f-4b1b-90ed-bb4bb7724c04 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}