{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_f1ac1277-1a52-41b9-8326-63339ec59e18 = section.settings['replo_text_f1ac1277-1a52-41b9-8326-63339ec59e18'] -%}
    {%- capture default_replo_text_f1ac1277-1a52-41b9-8326-63339ec59e18 -%}<p>Flavor profile</p>{%- endcapture -%}
    {%- assign replo_text_f1ac1277-1a52-41b9-8326-63339ec59e18 = replo_text_f1ac1277-1a52-41b9-8326-63339ec59e18 | default: default_replo_text_f1ac1277-1a52-41b9-8326-63339ec59e18 -%}
    "replo_text_f1ac1277-1a52-41b9-8326-63339ec59e18": {{ replo_text_f1ac1277-1a52-41b9-8326-63339ec59e18 | json }}, {%- assign replo_text_c285c1a6-b71f-42ee-a5bb-e776afdd5803 = section.settings['replo_text_c285c1a6-b71f-42ee-a5bb-e776afdd5803'] -%}
    {%- capture default_replo_text_c285c1a6-b71f-42ee-a5bb-e776afdd5803 -%}<p>Milk  chocolate</p>{%- endcapture -%}
    {%- assign replo_text_c285c1a6-b71f-42ee-a5bb-e776afdd5803 = replo_text_c285c1a6-b71f-42ee-a5bb-e776afdd5803 | default: default_replo_text_c285c1a6-b71f-42ee-a5bb-e776afdd5803 -%}
    "replo_text_c285c1a6-b71f-42ee-a5bb-e776afdd5803": {{ replo_text_c285c1a6-b71f-42ee-a5bb-e776afdd5803 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}